.section_brands {
    padding: 71px 0px 71px 0px;
    .brands_container {
        padding: 56px 0px 56px 0px;
        border-top: 1px solid #EEF2F3;
        border-bottom: 1px solid #EEF2F3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        img {
            width: 180px;
            display: flex;
            margin-bottom: 10px;
            &:last-child {
                margin: auto;
            }
        }
    }
}