.section_control {
    .control_container {
        padding: 144px 0px 168px 0px;
        margin: auto;
        h2 {
            font-family: 'Inter', sans-serif;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #212B31;
        }
    }
}